body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #233142;
    color: white;
}

a {
    color: #017075;
}

.card {
    color: white;
    background-color: salmon;
}

nav {
    color: rgb(128, 0, 43);
}

main {
    flex: 1 0 auto;
}

td {
    color: white;
}
  
footer.page-footer {
    padding-top: 0;
    text-align: right;
}